#title-section {
    margin-top: 4%;
}

.icon {
    height: 3em;
    margin-right: 1.5%;
    top: 2px;
    position: relative;
}

.title {
    font-size: 300%;
    font-weight: 500;
    margin-right: 1%;
}

.abbreviation {
    font-size: 180%;
    font-weight: 500;
    color: #9D9D9D;
}

#graph-section {
    margin-top: 5%;
}

#about-section {
    margin-top: 3%;
}

#about-body {
    color: #424242;
}