<div>
    <span class="title">
        Tweet volumes
    </span>
    <span class="title-support">
        Last 7 days
    </span>
</div>
<div class="article-aggregate-chart">
    <!-- <div *ngIf="tableChart.labels?.length > 0" class="chart-container">
        <canvas baseChart width="60px" height="300" [datasets]="tableChart.data" [labels]="tableChart.labels"
            [options]="lineChartOptions" [colors]="tableChart.color" [legend]="lineChartLegend"
            [chartType]="lineChartType" [plugins]="lineChartPlugins">
        </canvas>
    </div> -->
</div>