<app-top-bar></app-top-bar>
<div id="page-container">
    <div class="intro">
        <p>
            BitBuyer offers a way to compare daily crypto currency prices with social media sentiment.
        </p>
        <p>
            The price of bitcoin is notoriously volatile. This is because it has little inherent value, thus its price
            is based almost exclusively on speculation. How can we accurately predict the value of such an asset? The
            short answer is that's almost impossible. As so much of the price is speculative though, we can suppose that
            the decision to buy and sell is heavily impacted by news, and online word of mouth.
        </p>
        <p>
            BitBuyer looks at historic prices of bitcoin. It then analyses sentiment from individual tweets, and takes
            this, and aggregated tweet volume data into account, before making a simple good/bad decision on the
            attractiveness of a crypto as an investment.
        </p>
        <p>
            As mentioned in the <a href="/coins#disclaimer">disclaimer</a>, no information from this page should be used
            in buying/ selling/ specularing on crypto currencies, or indeed anything else.
        </p>
    </div>
    <app-table></app-table>
    <div id="disclaimer">
        <p>
            Though information on this page is accurate to the best of our knowlege, it should not be used as any basis
            for buying, selling or speculating in any way on any crypto currencies. In no way does this constitute
            financial advice.
        </p>
        <p>
            Crypto currencies are inherently risky, be careful in what you invest in, and don't base your decisions on
            this site, or any of the information herewithin.
        </p>
    </div>
</div>